@inherits LayoutComponentBase
@inject NavigationManager Navigation
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudThemeProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a @onclick="NavigateToPrivacy" style="cursor: pointer;">Privacy Policy</a>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private void NavigateToPrivacy()
    {
        Navigation.NavigateTo($"/privacypolicy");
    }
}